 @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
     font-family: 'PT Serif', serif;
     transition: all 0.2s;
 }


 body {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;


 }

 .navbar {
     display: flex;
     justify-content: center;
     width: 100%;


 }




 .menu-button {
     padding: 2rem;
     border: 2px solid #706b5c;
     font-size: 18px;
     font-weight: 200;
     margin: 5rem;
     border-radius: 5px;


 }


 .menu-button:hover {
     background-color: #fff;
     color: goldenrod;
     cursor: pointer;
     border: 2px solid goldenrod;

 }

 .navbar {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
 }


 .navbar ul {
     display: flex;
     flex-direction: row;

 }

 .navbar li {
     display: inline-flex;

 }



 .menu {
     background-color: #706b5c;
     color: #fff;
     max-width: 100%;
     height: auto;
     display: flex;
     flex-direction: column;
     width: 100%;

 }


 .icerik {
     display: flex;
     justify-content: space-between;
     flex-direction: column;
     align-items: center;
     margin-top: 3rem;

 }


 .icerik h3 {
     padding: 2rem;
     font-size: 23px;
     display: block;
     font-weight: 700;
     display: block;
     word-spacing: 20px;
 }


 .icerik h3::after {
     display: block;
     content: "";
     border-bottom: 2px solid #fff;
     padding: 1rem;



 }

 .icerik .fiyatlar {
     display: flex;
     flex-direction: column;
     font-size: 1.3rem;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;

 }

 p {
     font-weight: 500;
     font-size: 25px;
     padding: 1rem;
 }

 p::after {
     display: block;
     content: "";
     border-bottom: 1px solid #fff;
     padding: 5px;

 }

 span {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }


 .adres {
     margin: 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }

 .adres .fa-instagram {
     margin-top: 1rem;
     font-size: 15px;
 }

 .footer {
     font-size: 20px;
     font-weight: 700;
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
 }


 @media screen and (max-width:768px) {
     .navbar {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
     }

     a {
         color: black;
     }

     .navbar ul {
         display: flex;
         flex-direction: column;

     }

     .navbar li {
         display: inline-flex;

     }



     .menu {
         background-color: #706b5c;
         color: #fff;
         max-width: 100%;
         height: auto;
         display: flex;
         flex-direction: column;
         width: 100%;

     }


     .icerik {
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         align-items: center;
     }

     .icerik h3 {
         padding: 2rem;
         font-size: 23px;
         display: block;
         font-weight: 900;
         display: block;

     }

     .icerik h3::after {
         display: block;
         content: "";
         border-bottom: 2px solid #fff;
         padding: 1rem;



     }

     .icerik .fiyatlar {
         display: flex;
         flex-direction: column;
         font-size: 1.3rem;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;

     }

     p {
         font-weight: 500;
         font-size: 25px;
         padding: 1rem;
     }

     p::after {
         display: block;
         content: "";
         border-bottom: 1px solid #fff;
         padding: 5px;

     }

     span {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }


     .adres {
         margin: 2rem;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }

     .adres .fa-instagram {
         margin-top: 1rem;
         font-size: 15px;
     }

     .footer {
         font-size: 20px;
         font-weight: 700;
         width: 100%;
         height: auto;
         display: flex;
         justify-content: center;
         align-items: center;
     }

 }

 @media screen and (max-width:500px) {
     .navbar {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
     }

     a {
         color: black;
     }

     .navbar li {
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .menu-button {
         padding: 0.5rem;
         border: 2px solid #706b5c;
         font-size: 18px;
         font-weight: 200;
         border-radius: 5px;


     }

     .menu {
         background-color: #706b5c;
         color: #fff;
         max-width: 100%;
         height: auto;
         display: flex;
         flex-direction: column;
         width: 100%;

     }


     .icerik {
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         align-items: center;
     }

     .icerik h3 {
         padding: 2rem;
         font-size: 23px;
         display: block;
         font-weight: 900;
         display: block;

     }

     .icerik h3::after {
         display: block;
         content: "";
         border-bottom: 2px solid #fff;
         padding: 1rem;



     }

     .icerik .fiyatlar {
         display: flex;
         flex-direction: column;
         font-size: 1.3rem;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;

     }

     p {
         font-weight: 500;
         font-size: 25px;
         padding: 1rem;
     }

     p::after {
         display: block;
         content: "";
         border-bottom: 1px solid #fff;
         padding: 5px;

     }

     span {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }


     .adres {
         margin: 2rem;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }

     .adres .fa-instagram {
         margin-top: 1rem;
         font-size: 15px;
     }

     .footer {
         font-size: 20px;
         font-weight: 700;
         width: 100%;
         height: auto;
         display: flex;
         justify-content: center;
         align-items: center;
     }
 }

 @media screen and (max-width:1080px) {
     .navbar {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
     }


     .navbar li {
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .menu-button {
         padding: 0.5rem;
         border: 2px solid #706b5c;
         font-size: 18px;
         font-weight: 200;
         border-radius: 5px;
         color: black;


     }

     .menu {
         background-color: #706b5c;
         color: #fff;
         max-width: 100%;
         height: auto;
         display: flex;
         flex-direction: column;
         width: 100%;

     }


     .icerik {
         display: flex;
         justify-content: space-between;
         flex-direction: column;
         align-items: center;
     }

     .icerik h3 {
         padding: 2rem;
         font-size: 23px;
         display: block;
         font-weight: 900;
         display: block;

     }

     .icerik h3::after {
         display: block;
         content: "";
         border-bottom: 2px solid #fff;
         padding: 1rem;



     }

     .icerik .fiyatlar {
         display: flex;
         flex-direction: column;
         font-size: 1.3rem;
         justify-content: center;
         align-items: center;
         flex-wrap: wrap;

     }

     p {
         font-weight: 500;
         font-size: 25px;
         padding: 1rem;
     }

     p::after {
         display: block;
         content: "";
         border-bottom: 1px solid #fff;
         padding: 5px;

     }

     span {
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }


     .adres {
         margin: 2rem;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
     }

     .adres .fa-instagram {
         margin-top: 1rem;
         font-size: 15px;
     }

     .footer {
         font-size: 20px;
         font-weight: 700;
         width: 100%;
         height: auto;
         display: flex;
         justify-content: center;
         align-items: center;
     }
 }